<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
</style>
</head>
<body>
<% provide(:title, 'All bands') %>
<h1>All bands</h1>

<ul class="bands">
  <% @bands.each do |band| %>
    <li>
      <h2>
        <%= link_to band.name, band %>
      </h2>
      <% if current_user.try(:admin?)%>
        | <%= link_to "delete", band, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
      <% if band.location != nil && band.location != "" %>
        <iframe
            width="300"
            height="275"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAc-JjwiFdQ5Pxtsd2f-oRCHdugaLgAzEc&q=<%= band.location %>" allowfullscreen>
        </iframe>
      <% end %>
    </li>
  <% end %>
</ul>
</body>
