<!--<% content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<% provide(:title, @band.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @band.user %>
        <%= @band.user.name %>
      </h1>
    </section>
  </aside>
</div>-->


<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!--<% provide(:title, @band.name) %>-->
        <h1>
        fhgjklòfchvh
        </h1>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
    </div>

</div>

