<!--<% content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<% provide(:title, @band.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @band.user %>
        <%= @band.user.name %>
      </h1>
    </section>
  </aside>
</div>-->


<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!--<% provide(:title, @band.name) %>-->
        <h1>
             <img src="https://www.google.it/maps/place/JoySport+Roma+s.s.d.+a+r.l./@41.9202227,12.5240187,17z/data=!3m1!4b1!4m5!3m4!1s0x132f79f5e448fb69:0xae4273a9fc76309d!8m2!3d41.9202187!4d12.5262074"
             alt="" height="600" width="600">
        </h1>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <!-- We'll fill this with dummy content -->
    </div>

</div>

